.cartItemCard {
  display: flex;       // Esto pone la imagen y el texto en fila
  align-items: center; // Alinea verticalmente al centro
  gap: 20px;           // Espacio entre imagen y texto
  padding: 16px;
  border-bottom: 1px solid #eee;
  width: 100%;
  width: 300px;
  height: 350px;

  .imageWrapper {
    flex: 0 0 120px;   // La imagen siempre medirá 120px de ancho y no se encogerá
    height: 120px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // Asegura que la imagen no se deforme
    }
  }

  // Estilo opcional para el contenedor de texto
  div:last-child {
    flex: 1;           // El texto ocupará todo el espacio restante a la derecha
  }
}