$bg-color: #ffffff;

// text & buttons
$font-brand: "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-color: #e5e5e5;
$primary-text: #000000;
$secondary-text: #79736d;
$remove-text-color: #cd0303;
$button-disabled-color: #f3f2f2;
$button-disabled-text-color: #c2bfbc;
$button-primary-color: #1b1a18;
$grey-swatch: #999999;
$add-btn-bg: #ffffff;

$font-size-xs: 0.65rem; // 12px
$font-size-xss: 0.75rem; // 12px
$font-size-sm: 0.87rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$navbar-height: 80px;

// paddings
$space-xs: 16px;
$space-sm: 24px;
$space-md: 30px;
$space-lg: 32px;
$space-xl: 110px;

$details-page-margin: 200px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 600px;
