.homePage {
  width: 100%;
  padding: 0 0 4rem 0;
  box-sizing: border-box;
}
.stickySearchWrapper {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: $navbar-height;
  z-index: 9999;
  background: white;
  width: 100%;
}

.catalogSection {
  width: 100%;
  box-sizing: border-box;
  padding: 0 24px; 
  margin: 0 auto;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    padding: 1px $space-xl; //eliminar cuando cambie search
}
.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
}

.loadMoreButton {
  border-radius: 0;
  width: 260px;
  height: 56px;
  font-size: $font-size-sm;
  letter-spacing: 0.1em;
  font-weight: $font-weight-regular;
  background-color: transparent;
  color: $primary-text;
  border: 1px solid $primary-text;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primary-text;
    color: #fff;
  }
}
@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}