.homePage {
  width: 100%;
  padding: 0 0 4rem 0;
  box-sizing: border-box;
}

.catalogSection {
width: 100%;
  box-sizing: border-box;
  padding: 0 24px; 
  margin: 0 auto;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    // border-top: 0.5px solid #000000;
    // border-right: 0.5px solid #000000;
    // border: 0.25px solid #000000;
    box-shadow: inset 0 0 0 0.25px #000000;
}

@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}